@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Employee Edit</h1>

<form asp-action="Edit" enctype="multipart/form-data">
   @*  <div asp-validation-summary="All"></div> *@
    <partial name="PartialView/CreatEditPartialView" />
    <input type="submit" value="Save" class="btn btn-primary" />

    <a asp-action="Index" class="btn btn-light">Back to list</a>





</form>
@section ValdliationScriptSection{

    <Partial name="_ValidationScriptsPartial" />
}
