@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create Role</h1>

<form asp-action="Create">
    <div asp-validation-summary="All"></div>
    <partial name="PartialView/CreatEditRolePartialView" />
    <input type="submit" value="Create" class="btn btn-primary" />

    <a asp-action="Index" class="btn btn-light">Back to list</a>





</form>

@section ValdliationScriptSection{
    <Partial name="_ValidationScriptsPartial" />
}
